<div class="form_row">
  <% if !@content.nil? and @content!=[] %>
      <p>Discussion for Course: <%= @content.title %>
  <% else %>
      <p> Currently no discussions exist for the course. </p>
  <% end %>
</div>
