<html>
<body>
<br clear="all"/>

<div class="form_row">
<span style="float:center">
   <% if !@content.nil? and @content!=[] %>
	<p>Discussion for Course: <%= @content.title %>
   <% else %>
     <p> Currently no discussions exist for the course. </p>
   <% end %>
</span>
</div>
</body>
</html>
