<h1>Enrolled course information</h1>
<h2><%= @course.title %></h2>
<div>
<span style="float:center">
<p>
<label for="description"><b>Description: </b></label>
<%= @course.description %>
</p>
</span>
</div>
<br/>
<!--div id="post_actions">
<%= @course.status %>
</div>
<!--%= render :partial => "user_table" %-->
