<h2>Create a Category</h2>
<%= form_for :category do |form| %>
<fieldset>
<legend><b>Enter the Category Details</b></legend>
<div class="post">
<p>
<label for="created_by">Created by:</label>
<%= @user.email %>
</p>
<p>
  <label for="name">Category Name: </label><br>
  <%= form.text_field :name %>
</p>
<div>
<span style="float: right">
<%= submit_tag "Create", :align => "right" %></span></div>
</div>
</fieldset>
<% end %>


<div id="footer">
  Copyright © 2013, My Company. All rights reserved.
</div>
