<%= link_to_unless_current "Existing Categories", :action => "index" %> |
<%= link_to_unless_current "Create a new Category", :action => "create" %>

<% if !@categories.nil? and @categories!= [] %>
    <% i = 1 %>
    <div id="bio" class="faq_answer">
      <table class="users">
        <tr>
          <th class="label"><b>Sr. No</b></th>
          <th class="label"><b>Category Name</b></th>
        </tr>
        <% @categories.each do |category| %>
            <tr>
              <td><%= i %> </td>
              <td><%= category.name %>
            </tr>
            <% i=i+1 %>
        <% end %>
      </table>
    </div>
<% else %>
    <p> No categories currently exist. </p>
<% end %>
